body {
    background-position: center;
    background-image: url('../images/聊天背景.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #6e4747 #955959;
    overflow-x: hidden;
  }
  
  #conversationContainer {
    flex: 1;
    overflow-y: auto;
    width: 1000px;
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  /* .chat {
  display: flex;
  margin-bottom: 10px;
  }
  
  .chat-bubble {
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
  animation: fadeIn 0.5s ease-in-out;
  }
  
  .chat-start {
  justify-content: flex-start;
  } */
  
  pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  }
  
  /* .chat-end {
  justify-content: flex-end;
  white-space: pre-line;
  }
  
  .chat-bubble{
  white-space: pre-line;
  } */
  
  .loading-button {
  width: 25%;
  }
  
  @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
  }
  
  
  #inputContainer {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px; /* Adjusted padding for increased spacing */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin-top: 0px; 
  margin-bottom: px; 
  }
  
  select, button {
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  }
  
  textarea {
  height: 50px; /* Adjust the height if needed */
  max-height: 200px;
  font-size: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  width: 50%;
  padding: 8px;
  font-family: '楷体', 'KaiTi', cursive;
  }
  
  /* input:before {
  content: '\a'; /* 插入换行符 */
  /* white-space: pre-wrap; 保留空白和换行 */
  /* visibility: hidden;
  height: 0; */
  /* } */ */
  
  select {
  width: 20%;
  }
  
  body {
    font-family: Arial, sans-serif; /* 设置字体 */
    line-height: 1.0; /* 设置行间距 */
  }
  
  button {
  width: 25%;
  padding: 10px;
  font-family: '楷体', 'KaiTi', cursive;
  cursor: pointer;
  }
  
  .alert-top {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  }
  
  @keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
  }
  
  .toast-container {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 20px;
  max-width: 300px;
  z-index: 1000;
  }
  .toast {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  }

  .alert-success {
    background-color: #28a745;
  }
  .alert-info {
    background-color: #17a2b8;
  }
  
  .fade-out {
    animation: fadeOut 2s ease-out 1s forwards;
  }
  
  
  .form-control {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 10px;
  }
  
  .label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .label-text {
    font-weight: bold;
    font-size: 1.2em;
    color: aliceblue;
  }
  
  .checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  }
  
  .checkbox:checked {
  background-color: #65cc52;
  border-color: #65cc52;
  }
strong {
  color: #aed9e4; /* 这是一种绿色，你可以根据需要选择其他颜色 */
  font-size: 1.2em; 
}
    
body {
  font-family: Arial, sans-serif; 
  line-height: 1.5; 
}
p{
      margin-top: 10px; 
    margin-bottom: 20px; 
}

ul {
    margin-top: 1px; 
    margin-bottom: 2px; 
}
li{
    margin-top: 10px; 
    margin-bottom: 10px; 
}
ol{
    margin-top: 1; 
    margin-bottom: 1; 
}

/* // 美化滚动条 */ 
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 141, 222, 0.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(56, 140, 177, 0.3);
}

/* 通过ID选择器为按钮应用样式 */
#uploadButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db; /* 边框颜色 */
  color: #3498db; /* 文字颜色 */
  background-color: #fff; /* 背景颜色 */
  border-radius: 5px; /* 圆角 */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* 过渡效果 */
}

/* 鼠标悬停时的样式 */
#uploadButton:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #fff;
}

/* 激活（点击）时的样式 */
#uploadButton:active {
  background-color: #2980b9;
  color: #fff;
  border-color: #2980b9;
}